@import "tailwindcss";

@theme {
  --color-background: rgb(225 1 1);
  --color-border: rgb(1 1 1);
  --color-card: rgb(1 1 1);
  --color-primary: rgb(0 120 212);
  --color-accent: rgb(255 193 7);
  --color-text: rgb(20 20 20);
  --color-muted: rgb(150 150 150);
}

body {
  background-color: var(--color-background);
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: oklch(12.9% 0.042 264.695);
    --color-border: oklch(43.2% 0.232 292.759);
    --color-card: oklch(20.8% 0.042 265.755);
    --color-primary: oklch(44.6% 0.043 257.281);
    --color-accent: oklch(60.6% 0.25 292.717);
    --color-text: oklch(100% 0 0);
    --color-muted: rgb(200 200 200);
  }
}